body {
    width: 1440px;
    background: #FFFFFF;
}
.header {
    width: 100%x;
    height: 64px;
    border-top: solid 1px #AE7C78;
    border-bottom: solid 1px #AE7C78;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #AE7C78;
}
.container {
    display: flex;
    width: 1140px;
    margin: 0 auto;
}
.header .nav {
    justify-content: space-between;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #AE7C78;
}

h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    color: #AE7C78;
}

h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #AE7C78;
}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.promo {
    display: inline-block;
}

.advert {
    /* Оригинальные свежие букеты с доставкой по всему городу */
    width: 384px;
    height: 58px;
    left: 176px;
    top: 313px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.promo_img {
    display: inline-block;
}

.benefit {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

benefit_box {
    display: inline-block;
    weight: 285px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
.footer {
    width: 1440px;
    height: 97px;
    background: #AE7C78;
}